menu "Component1 configuration"
    config COMPONENT1_INCLUDE_STATIC_LIB
        bool "Enable include static lib(from gcc)"
        default n
        help
            Enable include static lib(from gcc)
endmenu

